<h1> Níveis de Experiência </h1>

<% @experience_levels.each do |experience_level| %>

  <%= experience_level.name %>
  Status: <%= t(experience_level.status) %>

  <%= link_to 'Editar', edit_experience_level_path(experience_level) %>

  <% if experience_level.archived? %>
    <%= link_to 'Ativar', active_experience_level_path(experience_level) %>
  <% else %>
    <%= link_to 'Arquivar', archive_experience_level_path(experience_level) %>
  <% end %>

<% end %>